body {
    margin: 0;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Roboto', sans-serif;

}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #111;
}

ul.topnav li a.active {
    background-color: #04AA6D;
}

ul.topnav li.right {
    float: right;
}

.container_1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
    /*border: 3px solid green;*/
}

.container_2 {
    padding: 70px 16px;
    /*border: 3px solid green;*/
    font-family: 'Roboto', sans-serif;

}

.image_1 {
    width: 475px;
    height: auto;
    padding-top: 30px;
    /*padding-left: 16px;*/
    /*border: 3px solid green;*/
}

/*Form Login*/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 15%;
    border-radius: 15%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */

    font-family: 'Roboto', sans-serif;

}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;

    font-family: 'Roboto', sans-serif;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.5s;
    animation: animatezoom 0.5s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

/*Footer*/
footer {
    text-align: center;
    padding: 3px;
    background-color: #333;
    color: white;
    font-family: 'Roboto', sans-serif;
    /*position:absolute;*/
    bottom: 0;
    width: 99.5%;
    height: 40px;
    position: fixed /* Height of the footer */
    /*background:#6cf;*/


}


/*Status Message*/
.status {
    display: flex;
    height: 30px;
    padding-left: 4px;
    padding-right: 4px;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: absolute;
    left: 495px;
    top: 100px;
    font-family: 'Roboto', sans-serif;
    /*border: #04AA6D solid;*/
    background-image: linear-gradient(to right, #8E2DE2, #4A00E0);
    color: #ffffff;
    border-color: #8E2DE2;
    border-radius: 0;
    margin: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

/*Media Queries*/
@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}